﻿body {
    background:#4CAF50;
    font-size: 100%;
 	font-family: "Roboto", sans-serif;
}

.table1 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;
    border: 2px white solid;
     color: white;
    
}


.table2 {
    width: 50%;
    margin-left: auto;
     margin-right: auto;
    text-align: center;
    border: 2px white solid;
    color: white;
}

.button_admin {
      font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    border: 2px white solid;
    width: 25%;
    
    padding: 15px;
     color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-left: 25%;
    margin-top: 2%;
}


.button_admin2 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    border: 2px white solid;
    width: 25%;
    
    padding: 15px;
     color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
   
}



a {
       color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 2%;
}