﻿body{
	background: #76b852;
	font-size: 100%;
 	font-family: "Roboto", sans-serif;
}

h1 {
	text-align: center;
	color: white;
	margin-top: 4%;
}
.labelCUser {
    margin-right: 40%;
}

.mainContainer{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	display: block;
	width:1170px;
	height: 1070px;

}
.chatContainer{
	width: 58%;
	float: left;
	
	
	height: 760px;
	position: relative;
	background: white;
	margin-right: 3%;
}

.chatHeader{
	text-align: center;
	background: #4CAF50;
	padding: 2%;
	color: white;
}




.messages{
	box-sizing: border-box;
	display: inline-block;
	padding-left: 3%;
	padding-right:3%;
    border:0;
    overflow:auto;
	    }
.listitem{

	    background: #f2f2f2;
	    list-style-type: none;
	    padding:2%;
	    word-wrap: break-word;
	    margin-top: 2%;
	    border-radius: 10px;
}
.userContainer{
	
	float:left;
	width: 34%;
	height: 610px;
	position: relative;
    padding-right: 1px;
	background:white;

}
.loggedOnUsers{

	
	border-style: none;
    border-color: inherit;
    border-width: 0;
    display: inline-block;
	position: relative;
	width: 100%;
	padding: 0;
	margin-top: 5%;
    top: -18px;
    left: 0px;
    height: 561px;
    overflow: auto;
}
.userHeader {
    text-align: center;
    background: #4CAF50;
    padding: 14px;
    color: white;
    width: 93.4%;
}
.listofUsers {
	background: #f2f2f2;
	list-style-type: none;
	padding:2%;
	word-wrap: break-word;
	padding-left: 10%;	
	margin-top: 2%;
	background: #4CAF50;
	color: white;
    border:0;
    overflow:auto;
}

.rightButtons{
	bottom: 0px;
    position: absolute;
    width: 100%;

}


.writeTextContainer {
	padding-left: 2%;
    padding-bottom: 2%;
	position: absolute;
	bottom: 0;
	
	border-radius: 3px;
	
	width: 94%;
}
.button{
	 
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  height: 52px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
    margin-bottom: 20px;
}
.textbox{
	background: #f2f2f2;
    float: left;
    display: inline;
    height: 46px;
    width: 75%;

}
.btnSend {
	text-decoration: none;
    width: 18%;
    height: initial;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 23%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    height: 52px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.rightButtons button{
	
}

.loggoutButton{
	float: left;
	width: 34%;
	padding-top: 14px;
}
